<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'Long/style.css' %}">
</head>
<body>
<div class="header">

</div>
    {% block content %}

    {% endblock %}

    {% block sign_up %}

    {% endblock %}
<div class="content"> </div>
<div>{% block success_login %} {% endblock %}</div>

<a href="{% url 'Long:province_find' %}">Find Province</a>
<a href="{% url 'Long:view_branch' %}">Find Branch</a>
<a href="{% url 'Long:open_card' %}">Open new card</a>
{% block find_province %}{% endblock %}
{% block find_branch %}{% endblock %}
</body>
</html>