<!DOCTYPE html>
<html lang="v">
<head>
    <meta charset="UTF-8">
    <title>Rút tiền</title>
</head>
    <body>
        <form method="post" action="">
            {% csrf_token %}
            <h2>Rút tiền</h2>
            <input id="id_150" type="submit" name="amount" value="150000"/>
            <input id="id_200" type="submit" name="amount" value="200000"/>
            <input id="id_500" type="submit" name="amount" value="500000"/>
            <input id="id_1000" type="submit" name="amount" value="1000000"/>
            <input id="id_2000" type="submit" name="amount" value="2000000"/>
            <input id="id_5000" type="submit" name="amount" value="5000000"/>
{#            <button onclick="location.href='{% url 'AnotherValue' %}'">Nhập số khác</button>#}
{#            <button onclick="location.href='{% url 'dashboard' %}'">Quay lại</button>#}
        </form>
    </body>
</html>